<main>
  <!--   <div class="updating">
      <span>.....</span>
    </div> -->
    <section class="clock">
      <div class="date-container">
        <span class="date">Sun</span>
        <span class="date">Mon</span>
        <span class="date">Tue</span>
        <span class="date">Wed</span>
        <span class="date">Thur</span>
        <span class="date">Fri</span>
        <span class="date">Sat</span>
      </div>
      <div class="count-down-container">
        <div class="time">
          <span class="template">
            <span class="switch firstHourDigit">{{firstHourDigit}}</span>
          </span>
          <span class="template"> 
            <span class="switch secondHourDigit">{{secondHourDigit}}</span>
          </span>
        </div>  
        <span class="colon">:</span>  
        <div class="time">
          <span class="template">
            <span class="switch firstMinuteDigit">{{firstMinuteDigit}}</span>
          </span>
          <span class="template">
            <span class="switch secondMinuteDigit">{{secondMinuteDigit}}</span>
          </span>
        </div>  
        <span class="colon">:</span> 
        <div class="time">
          <span class="template">
            <span class="switch firstSecondDigit">{{firstSecondDigit}}</span>
          </span>
          <span class="template">
            <span class="switch secondSecondDigit">{{secondSecondDigit}}</span>
          </span>
        </div>  
        <div class="am-pm">
          <span class="am-pm-value" id="txt-disambiguation"></span>
        </div>
      </div>
    </section>
    <section class="daylight-night">
      <div class="daylight" id="daylight">
        <div class="sun"></div>
        <div class="clouds cloud-one">
          <div class="circle part1"></div>
          <div class="circle part2"></div>
          <div class="circle part3"></div>
          <div class="circle part4"></div>
          <div class="circle part5"></div>
          <div class="circle part6"></div>
          <div class="circle part7"></div>
          <div class="circle part8"></div>
          <div class="circle part9"></div>
          <div class="circle part10"></div>
        </div>
        <div class="clouds cloud-two">
          <div class="circle part1"></div>
          <div class="circle part2"></div>
          <div class="circle part3"></div>
          <div class="circle part4"></div>
          <div class="circle part5"></div>
          <div class="circle part6"></div>
          <div class="circle part7"></div>
          <div class="circle part8"></div>
          <div class="circle part9"></div>
          <div class="circle part10"></div>
        </div>
        <div class="clouds cloud-three">
          <div class="circle part1"></div>
          <div class="circle part2"></div>
          <div class="circle part3"></div>
          <div class="circle part4"></div>
          <div class="circle part5"></div>
          <div class="circle part6"></div>
          <div class="circle part7"></div>
          <div class="circle part8"></div>
          <div class="circle part9"></div>
          <div class="circle part10"></div>
        </div>
        <div class="clouds cloud-four">
          <div class="circle part1"></div>
          <div class="circle part2"></div>
          <div class="circle part3"></div>
          <div class="circle part4"></div>
          <div class="circle part5"></div>
          <div class="circle part6"></div>
          <div class="circle part7"></div>
          <div class="circle part8"></div>
          <div class="circle part9"></div>
          <div class="circle part10"></div>
        </div>
        <div class="clouds cloud-five">
          <div class="circle part1"></div>
          <div class="circle part2"></div>
          <div class="circle part3"></div>
          <div class="circle part4"></div>
          <div class="circle part5"></div>
          <div class="circle part6"></div>
          <div class="circle part7"></div>
          <div class="circle part8"></div>
          <div class="circle part9"></div>
          <div class="circle part10"></div>
        </div>
      </div>
      <div class="nightlight" id="nightlight">
        <div class="moon">
          <div class="moon-dot"></div>
          <div class="moon-dot-two"></div>
        </div>
      </div>
    </section>
  </main>